.body__home{
  background-color: #222;
	margin: 0;
	overflow: hidden;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block;
}
audio,video {
	display:inline-block;
}
audio:not([controls]) {
	display:none;height:0;
}
[hidden] {
	display:none;
}
html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body {
	margin:0;
}
a:focus {
	outline:thin dotted;
}
a:active,a:hover {
	outline:0;
}
h1 {
	font-size:2em;
	margin:0.67em 0;
}
abbr[title] {
	border-bottom:1px dotted;
}
b,strong {
	font-weight:bold;
}
dfn {
	font-style:italic;
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
mark {
	background:#ff0;
	color:#000;
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:1em;
}
pre {
	white-space:pre-wrap;
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019";
}
small {
	font-size:80%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
img {
	border:0;
}
svg:not(:root) {
	overflow:hidden;
}
figure {
	margin:0;
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend {
	border:0;padding:0;
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0;
}
button,input{
	line-height:normal;
}
button,select {
	text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}
button[disabled],html input[disabled] {
	cursor:default;
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0;
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0;
}
textarea {
	overflow:auto;
	vertical-align:top;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* :root {
	font-size: 16px;
} */

body {
	--color-text: #fff;
	--color-bg: #0e0e0f;
	--color-link: #EE9A00;
	--color-link-hover: #8e5c00;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

/* .home__container{
	position: absolute;
	top: 0;
	left:50%;
} */

.home__container {
	overflow:hidden;
	width: 100vw;
	height: 100vh;
}

#text__container{
	background: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);;
	display: flex;
	align-items: center;
}

.webgl__container{
	padding: 0;
}

h1 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.word {
	position: absolute;
	width: 800px;
	opacity: 0;
}

.letter {
	display: inline-block;
	position: relative;
	float: left;
	border-bottom: 2px solid tomato;
	border-spacing:0;
	transform: translateZ(25px);
	/* transform-origin: 50% 50% 25px; */
}

.letter.out {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}

.letter.in {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.showSpaces{
  white-space: pre;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#swipezone{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
  }