html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body {
	margin:0;
}

.body__home{
  background-color: #222;
	margin: 0;
	overflow: hidden;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* :root {
	font-size: 16px;
} */

body {
	--color-text: #fff;
	--color-bg: #0e0e0f;
	--color-link: #EE9A00;
	--color-link-hover: #8e5c00;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.home__container {
	overflow:hidden;
	width: 100vw;
	height: 100vh;
}

#text__container{
	background: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);;
	display: flex;
	align-items: center;
}

#text__prefix {
	margin:0;
	margin-left: -140px;
}

ul {
	margin: auto;
}

.webgl__container{
	padding: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

h1, h2, h3, h4, h5 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.word {
	position: absolute;
	width: auto;
	opacity: 0;
}

.letter {
	display: inline-block;
	position: relative;
	float: left;
	border-bottom: 2px solid tomato;
	border-spacing:0;
	transform: translateZ(25px);
	/* transform-origin: 50% 50% 25px; */
}

.letter.out {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}

.letter.in {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.showSpaces{
  white-space: pre;
}

#swipezone{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
}

html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em !important;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.125em !important;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}
